:root {
    --bg-opacity: 1;

    --border: 1px solid #e2e8f0;

    --color-muted: rgba(113, 128, 150, 1);
    --color: rgba(26, 32, 44, 1);

    --bg-red: rgb(239, 59, 45);
    --text-red: rgba(239, 59, 45, 0.8);
    --text-red-hover: rgba(239, 59, 45, 1);
}

body {
    background-color: rgba(247, 250, 252, var(--bg-opacity));
    font-family: "Nunito", sans-serif;
    color: var(--color);
}

p {
    color: var(--color-muted);
}

label {
    color: var(--color-muted);
}

.btn {
    &-custom {
        background-color: var(--bg-red);
        color: #ffffff;
        opacity: 0.9;
        transition: 0.3s;

        &:hover {
            color: #ffffff;
            background-color: var(--bg-red);
            opacity: 1;
        }
    }
}

.box {
    background-color: #ffffff;
    border: var(--border);

    &-header {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;

        h1 {
            font-size: 1.6rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 1rem;
        }

        .hint {
            font-size: 0.9rem;
            text-align: center;
        }
    }

    &-body {
        padding-bottom: 1.2rem;
    }
}

.text {
    &-red {
        color: var(--text-red);
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            color: var(--text-red-hover);
            text-decoration: underline;
        }
    }
}

.content {
    margin-top: 2.2rem;

    .page {
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &-left {
                max-width: 800px;
            }
            &-right {
                max-width: 400px;
            }
        }
    }

    h2.page-title {
        small {
            font-size: 1rem;
            margin-left: 0.3rem;
            color: var(--color-muted);
        }
    }
}

.navbar {
    border-bottom: 1px solid #e9e9e9;

    &-brand {
        margin-right: 3rem;
    }
}

.bg-light {
    background-color: #ffffff !important;
}
