:root {
    --bg-canvas: #f3f2ef;
    --bg-white: #fff;
    --bg-blue: #0a66c2;
    --bg-blue-dark: #004182;
    --bg-light-grey: #f9fafb;
    --bg-green: #7fc15e33;
    --color-black: rgba(0, 0, 0, 0.9);
    --color-black-low: rgba(0, 0, 0, 0.6);
    --color-green: #36860d;
    --border-black-faint: rgba(0, 0, 0, 0.08);
    --border-green: #7fc15e;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--bg-white);
    color: var(--color-black);
    font-size: 0.75rem;
    min-height: 100vh;
}

a,
a:hover,
a:visited,
a:active {
    color: var(--bg-blue);
    text-decoration: underline;
}

.bg-grey {
    background-color: var(--bg-canvas) !important;
}

header {
    background-color: var(--bg-white);
    border-bottom: 1px solid var(--border-black-faint);
}

.box-login {
    margin: 6rem auto 0;
    max-width: 360px;
    background-color: var(--bg-white);
    border: 1px solid var(--border-black-faint);
    border-radius: 4px;

    &__header {
        background-color: var(--bg-light-grey);
        border-bottom: 1px solid var(--border-black-faint);
        color: var(--bg-blue) !important;
        padding: 1.4rem 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;

        h1 {
            margin: 0 0 10px;
            font-weight: 700;
        }

        p {
            margin: 0;
            color: var(--color-black-low) !important;
            font-size: 0.75rem;
        }
    }

    &__body {
        padding: 2rem;

        label {
            color: var(--color-black-low) !important;
            font-weight: 400 !important;
        }
    }
}

.btn-login {
    background-color: var(--bg-blue);
    color: var(--bg-white);
    font-weight: 700;

    &:hover {
        color: var(--bg-white);
        background-color: var(--bg-blue-dark);
    }
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -7rem;
    margin-top: 0.125rem;
}

.alert-success {
    color: var(--color-green);
    background-color: var(--bg-green);
    border-color: var(--border-green);
}
